.news-list{display: flex;flex-wrap: wrap;}.news-item{margin-bottom: 30px;padding-bottom: 20px;position: relative;}.news-item:before{content: "";height: 1px;position: absolute;width: calc(100% - 30px);left: 15px;bottom: 0;background-color: #DFE0E1;}.news-thumb{display: block;margin-bottom: 15px;overflow: hidden;}.news-thumb img{width: 100%;}.news-title{font-size: 20px;font-family: 'SF Pro Display Bold';}.news-item span{text-transform: uppercase;display: block;padding-top: 12px;}.news-item-ct{flex: 0 0 100%;}
.top-title{display: block;font-size: 20px;margin-bottom: 5px;color: #1D3D3A;}.article-title{font-size: 40px;line-height: 1.2;font-family: 'SF Pro Display Bold';margin-top: 0;margin-bottom: 30px;}.article-thumb{margin-bottom: 30px;text-align: center;}.article-thumb img{max-width: 100%;}
.article-sharing{padding-top: 30px;font-size: 18px;text-align: right;vertical-align: top;line-height: 34px;}.article-sharing a{display: inline-block;margin-left: 10px;vertical-align: top;}.article-sharing svg{height: 34px;width: 34px;}
.sidebar-title{font-size: 20px;margin-top: 0;margin-bottom: 20px;font-family: 'SF Pro Display Bold';}.sidebar-news .news-title{font-size: 16px;}.sidebar-news .news-item:nth-child(4){display: none;}


@media (min-width: 1500px){
  .article-content{padding: 0 70px;}
}
@media (min-width: 992px) and (max-width:1199px){
  
}
@media (max-width: 1499px){
  .news-title{font-size: 18px;}.article-title{font-size: 32px;}
}
@media (max-width: 1199px){
  .news-title{font-size: 18px;}
}
@media (max-width: 991px){
  .news-title,.sidebar-news .news-title{font-size: 16px;}.news-item:before{width: calc(100% - 20px);left: 10px;}.article-sharing{margin-bottom: 30px;font-size: 16px;}
}
@media (max-width: 767px){
  .sidebar-news .news-item:nth-child(4){display: block;}
}
@media (max-width: 570px){
  .article-title{font-size: 24px;margin-bottom: 20px;}.article-thumb{margin-bottom: 20px;}
}
@media (max-width: 480px){
  .news-list{display: block;}.news-list .news-item{margin-bottom: 20px;}.news-list .news-item:nth-child(n+2){margin-bottom: 15px;padding-bottom: 15px;}.news-list .news-item:nth-child(n+2):after{display: block;clear: both;width: 100%;content: "";}.news-list .news-item:nth-child(n+2) .news-thumb{float: left;width: 100px;margin-bottom: 0;}.news-list .news-item:nth-child(n+2) span{display: none;}.news-list .news-item:nth-child(n+2) .news-short{float: left;width: calc(100% - 100px);padding-left: 10px;}.news-list .news-item:nth-child(n+2) .news-title{margin-bottom: 0;}
  .article-title{font-size: 20px;margin-bottom: 15px;}.top-title{font-size: 18px;}
}
@media (max-width: 370px){
  
}
